:root {
  /* colors */
  --white: #ffffff;
  --green-500: #3E5B3C;
  --green-200: #ADC89D;
  --pink-500: #B56E74;
  --pink-200: #D9B1B9;

  /* sizes */
  --mobile: 768px;
  --tablet: 1024px;
  --desktop: 1280px;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

